<!DOCTYPE html>
<html>
  <head>
    <title>TitusStatistics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav id="navbar-titus" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Titus Company</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to 'Expense claimers', expense_claimers_url, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Statistics', statistics_url, class: 'nav-link' %>
    </li>
  </ul>
</nav>
<div data-target="#navbar-titus" data-offset="0" class='container'>
 <%= yield %>
</div>

    
  </body>
</html>
